<!DOCTYPE html>
{%  extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="row">
            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dishes</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
<!--                      <tr>-->
<!--                        <th>Order ID</th>-->
                       <tr>
                            <th style="width: 20%;">Cuisine Name</th>
                           <th style="width: 20%;">Dish Name</th>
                           <th style="width: 20%;">Price</th>
                            <th style="width: 40%;">Description</th>
                            <th style="width: 20%;">Dish Image</th>
                            <th style="width: 20%;">Actions</th>
                       </tr>

                    </thead>
                    <tbody>
                    {% for i in cd %}
                    <tr>
                        <td>{{i.Cuisine}}</td>
                      <td>{{i.DishName}}</td>
                        <td>{{i.Price}}</td>
                        <td>{{i.About}}</td>
                        <td>
                            <img src="{{i.DishImage.url}}" alt="" width="150px" height="80px">
                        </td>

                        <td>
                          <button type="button"  class="btn btn-success btn-sm btn-icon-text mr-3"  >
                          <a href="{% url 'EditDish' Ed_id=i.id %}" style="color:white;">Edit</a>
                              <i class="typcn typcn-edit btn-icon-append"></i></button>
                        <button type="button" class="btn btn-danger btn-sm btn-icon-text" >
                          <a href="{% url 'DeleteDish' DD_id=i.id %}"   style="color:white;" >Delete</a>
                        <i class="typcn typcn-delete-outline btn-icon-append"></i></button>
                        </td>
                  </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    {% if messages %}
                    {% for i in messages %}
                    {% if i.tags == 'success' %}
                    <script>
                        swal('{{i}}','','success');
                    </script>
                    {% elif i.tags == 'error' %}
                    <script>
                        swal('{{i}}','','error');
                    </script>
                    {% elif i.tags == 'warning' %}
                    <script>
                        swal('{{i}}','','warning');
                    </script>

                    {% else %}
                    <script>
                        swal('{{i}}','','info');
                    </script>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
</body>
</html>
{% endblock %}